@font-face {
    font-family: 'Allura';
    src: url('./assets/Allura/Allura-Regular.woff2') format('woff2');
    }
  
@font-face {
    font-family: 'Cutive';
    src: url('./assets/Cutive_Mono/CutiveMono-Regular.woff2') format('woff2');
    }
  
@font-face {
    font-family: 'Allerta';
    src: url('./assets/Allerta_Stencil/AllertaStencil-Regular.woff2') format('woff2')
    }
  
@font-face {
    font-family: 'Voltaire';
    src: url('./assets/Voltaire/Voltaire-Regular.woff2') format('woff2');
    }
@font-face {
    font-family: 'Arsenal';
    src: url('./assets/Arsenal/Arsenal-Regular.woff2') format('woff2');
    }
    
@font-face {
    font-family: 'Orbitron' ;
    src: url('./assets/Orbitron/Orbitron-VariableFont_wght.ttf');
  }
  

  #h_space {
    max-width: 12%;
    max-height: auto;
    overflow: hidden;
  }
  
  banner{
    background-color: black;
    display: flex;
    max-height: 155px;
    align-items: center;
  }
  
  
  banner h1{
    padding-left: 6%;
    padding-right: 2%;
    font-size: 4rem;
    font-family: Orbitron;
    color: white;
    display: inline;
    align-self: center;
  }
  
  
  ul.banner-menu {
    padding-left: 6%;
    align-self: center
  }
  
  ul.banner-menu li{
    display: inline-block;
  }
  
  ul.banner-menu li a{
    display: inline-block;
    text-decoration: none;
    font-family: Arsenal;
    font-size: 1.2rem;
    color:white;
  }
  
  #menu {
    display: inline-block;
    font-family: Arsenal;
    font-size: 1.2rem;
    color:white;
    text-decoration: none;
  }
  
  
  ul.banner-menu li:not(:last-child)::after {
    content: "|";
    margin: 0 5px; /* Adjust the spacing as needed */
    color: white; /* Adjust the color as needed */
  }
  
  ul.banner-menu li:first-child::before,
  ul.banner-menu li:last-child::after {
    content: "|";
    margin: 0 5px; /* Adjust the spacing as needed */
    color: white; /* Adjust the color as needed */
  }
  
  #newsContainer a {
    max-width: 74%;
    max-height: auto;
    margin-bottom: 3px;
    font-family: Voltaire;
    font-size: 1.2rem;
    text-decoration: none;
  
  }
  
@media (max-width: 428px) {
    banner {
      flex-direction: column;
    }
  }
  


#fed_image {
    max-width: 25%;
    max-height: auto;
    display: inline-flex;
    flex-direction: column;
  
  }
  
.flex-container {
    width: 100%;
    margin: 0 0;
    border:2px solid #10a37f;
    display: inline-flex;
    flex-direction: column;
  }

@media only screen and (max-width: 1112px) {
    
    banner h1{
      padding-left: 3%;
      padding-right: 2%;
      font-size: 1.2rem;
      font-family: Orbitron;
      color: white;
      display: inline;
      align-self: center;
    }
  
    ul.banner-menu li a{
      display: inline-block;
      font-family: Arsenal;
      font-size: 1rem;
      color:white;
    } 
}
  